section button {
	margin: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	background: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	& svg {
		color: white;
	}
}

