table {
	margin: 5px;
	border-collapse: collapse;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	user-select: none;
	& th {
		height: 40px;
		min-width: 30px;
		border: 1px solid white;
		padding: 10px 15px;
		color: white;
		font-weight: 700;
	}
	& tr.selected {
		background: rgba(0,255,0,0.15);
	}
	& td {
		height: 30px;
		border: 1px solid white;
		padding: 10px 15px;
		color: white;
		&:nth-child(2) {
			text-align: left;
		}
	}
}

